{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Факультеты | Цитаты преподавателей ЮФУ</title>
    <link rel="stylesheet" href="{% static 'quotes/styles.css' %}">
    <link rel="stylesheet" href="{% static 'quotes/styles_faculties.css' %}">
</head>
<body>
    <header>
        <div class="header-container">
            <div class="logo">Цитаты преподавателей ЮФУ</div>
            <nav>
                <ul>
                    <li><a href="{% url 'main' %}">Главная👑</a></li>
                    <li><a href="{% url 'popular_quotes' %}">Топ 20 цитат🔥</a></li>
                    <li><a href="{% url 'facs' %}" class="active">Факультеты🏬</a></li>
                    <li><a href="{% url 'about' %}">О нас📖</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <h1 class="page-title">Факультеты</h1>
        <div class="faculties-grid">
            {% for faculty in faculties %}
                {% if faculty.quotes_count > 0 %}
                <div class="faculty-card">
                        {% if faculty.slug %}
                            <a href="{% url 'faculty_detail' slug=faculty.slug %}">{{ faculty.name }}</a>
                        {% else %}
                            <span>{{ faculty.name }} (нет ссылки)</span>
                        {% endif %}
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </main>

    <footer>
        <div class="copyright">
            &copy; 2025 Цитаты преподавателей ЮФУ.
        </div>
    </footer>
</body>
</html>